<!DOCTYPE html>
<html>
  <head>
    <title>Cook | Clank</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>


  <style>
    body * { 
      font-size: 20px; 
      text-decoration: none;
      font-family: monospace;
    }

    p {
      padding-top: 10px;
    }

    body p a {
      text-transform: capitalize;
      border: solid 1px blue;
      padding: 0.2em;
      margin: 5px;
      display: inline-block;
    }

    header > a {
      float: right;
      padding-right: 20px
    }
  </style>

  <header>
    <a href="https://github.com/mrmicahcooper/recipes">README.md</a>
    <h1>Cook | Clank</h1>
  </header>

  <body>
    <p>
      {{#each recipes}}<a href="{{path}}">{{name}}</a>{{/each}}
    </p>
  </body>


</html>
